<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head lang="en">
        <meta charset="UTF-8">
        <title>About Rango</title>
    </head>

    <body>
        <h1>This is Rango's About page.</h1>
        Rango was started early November 2014.
        <br />{{ message }}<br/>
        <br /><a href="/rango/index">Take me back to the Index page.</a><br />
        <img width="400" hight="600" src="{% static 'images/Year_old_fallow_deer_stag_Oct2014.jpg' %}" title="Year old fallow deer stag in Sevenoaks." alt="Year old fallow deer stag in Sevenoaks." />


    </body>
</html>